In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('test.csv', index_col=0)

In [5]:
data.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age
0,fit,420272,34d,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28.0
1,fit,273551,34b,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36.0
2,fit,360448,NaN,1063761,NaN,10.0,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116.0
3,fit,909926,34c,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34.0
4,fit,151944,34b,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27.0

In [6]:
print(data.dtypes)

fit                object
user_id             int64
bust size          object
item_id             int64
weight             object
rating            float64
rented for         object
review_text        object
body type          object
review_summary     object
category           object
height             object
size                int64
age               float64
dtype: object

In [7]:
data.isna().sum()

fit                   0
user_id               0
bust size         18411
item_id               0
weight            29982
rating               82
rented for           10
review_text          62
body type         14637
review_summary      345
category              0
height              677
size                  0
age                 960
dtype: int64

In [8]:
data.info()
#missing values bust_size, weight, rating, rented for, body type, height, age
#drop rows?

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192544 entries, 0 to 192543
Data columns (total 14 columns):
fit               192544 non-null object
user_id           192544 non-null int64
bust size         174133 non-null object
item_id           192544 non-null int64
weight            162562 non-null object
rating            192462 non-null float64
rented for        192534 non-null object
review_text       192482 non-null object
body type         177907 non-null object
review_summary    192199 non-null object
category          192544 non-null object
height            191867 non-null object
size              192544 non-null int64
age               191584 non-null float64
dtypes: float64(2), int64(3), object(9)
memory usage: 22.0+ MB

In [9]:
df = data.dropna(how = 'any')

In [10]:
df.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age
0,fit,420272,34d,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28.0
1,fit,273551,34b,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36.0
3,fit,909926,34c,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34.0
4,fit,151944,34b,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27.0
5,fit,734848,32b,364092,138lbs,8.0,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,"5' 8""",8,45.0

In [11]:
df.isna().sum()

fit               0
user_id           0
bust size         0
item_id           0
weight            0
rating            0
rented for        0
review_text       0
body type         0
review_summary    0
category          0
height            0
size              0
age               0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146137 entries, 0 to 192543
Data columns (total 14 columns):
fit               146137 non-null object
user_id           146137 non-null int64
bust size         146137 non-null object
item_id           146137 non-null int64
weight            146137 non-null object
rating            146137 non-null float64
rented for        146137 non-null object
review_text       146137 non-null object
body type         146137 non-null object
review_summary    146137 non-null object
category          146137 non-null object
height            146137 non-null object
size              146137 non-null int64
age               146137 non-null float64
dtypes: float64(2), int64(3), object(9)
memory usage: 16.7+ MB

In [16]:
categories = df['category'].unique()

In [19]:
categories

array(['romper', 'gown', 'dress', 'sheath', 'leggings', 'sweater',
       'jacket', 'shirtdress', 'jumpsuit', 'shift', 'top', 'shirt',
       'mini', 'skirt', 'maxi', 'pants', 'suit', 'coat', 'blouse',
       'trench', 'cape', 'bomber', 'blazer', 'vest', 'duster', 'ballgown',
       'tank', 'poncho', 'frock', 'tunic', 'cardigan', 'down', 'culottes',
       'midi', 'legging', 'print', 'pant', 'knit', 'culotte',
       'sweatshirt', 'peacoat', 'trouser', 'kaftan', 'overalls', 'jogger',
       'tee', 'combo', 'henley', 'blouson', 'pullover', 'turtleneck',
       'trousers', 'overcoat', 'hoodie', 't-shirt', 'caftan', 'tight',
       'kimono', 'cami', 'for', 'crewneck', 'skirts', 'parka',
       'buttondown', 'skort', 'sweatershirt', 'jeans', 'sweatpants'],
      dtype=object)

In [25]:
df.loc[df['category'] == 'for']

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age
36852,small,602302,34c,2270513,149lbs,10.0,everyday,I ordered a large. I don't know that it runs s...,hourglass,Super Comfy!,for,"5' 6""",20,37.0
101357,fit,762065,34a,2270513,130lbs,10.0,everyday,cute,athletic,cute and casual,for,"5' 4""",8,34.0
101890,fit,175028,34c,2270513,130lbs,10.0,everyday,I love this top. The fabric is so soft and wa...,straight & narrow,All about layers,for,"5' 9""",4,39.0
110530,fit,306218,34b,2270513,140lbs,10.0,everyday,"Fit great, the sleeves are very long and the t...",athletic,It's cute and different. Casual and comfy.,for,"5' 9""",8,28.0
131261,fit,758006,36d,2270513,160lbs,10.0,everyday,"This is a comfy shirt, great length. Wore it o...",hourglass,Comfy!,for,"5' 8""",14,39.0

In [64]:
recat1 = df.replace(['dress', 'sheath', 'shirtdress', 'shift', 'ballgown', 'frock', 'kaftan', 'caftan', 'gown', 'print'], 'dresses')

In [65]:
recat2 = recat1.replace(['romper', 'jumpsuit', 'overalls', 'combo', 'suit'], 'jumpsuits')

In [66]:
recat3 = recat2.replace(['jogger', 'trousers', 'tight', 'jeans', 'sweatpants', 'leggings', 'pants', 'culottes', 'legging', 'pant', 'culotte', 'trouser'], 'pants')

In [67]:
recat4 = recat3.replace(['sweater', 'duster', 'cardigan', 'sweatshirt', 'pullover', 'turtleneck', 'hoodie', 'sweatershirt'], 'sweaters')

In [68]:
recat5 = recat4.replace(['jacket', 'coat', 'trench', 'cape', 'bomber', 'blazer', 'vest', 'poncho', 'down', 'parka', 'peacoat', 'overcoat'], 'outerwear')

In [69]:
recat6 = recat5.replace(['top,', 'shirt', 'blouse', 'tank', 'tunic', 'knit', 'tee', 'henley', 'blouson', 't-shirt', 'kimono', 'cami', 'crewneck', 'buttondown', 'for'], 'tops')

In [70]:
recat7 = recat6.replace(['mini', 'skirt', 'maxi','midi', 'skirts', 'skort'], 'skirts')

In [77]:
recat8 = recat7.replace(['top'], 'tops')

In [80]:
recat8['category'].unique()

array(['jumpsuits', 'dresses', 'pants', 'sweaters', 'outerwear', 'tops',
       'skirts'], dtype=object)

In [81]:
recat8.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age
0,fit,420272,34d,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,jumpsuits,"5' 8""",14,28.0
1,fit,273551,34b,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,dresses,"5' 6""",12,36.0
3,fit,909926,34c,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dresses,"5' 5""",8,34.0
4,fit,151944,34b,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,dresses,"5' 9""",12,27.0
5,fit,734848,32b,364092,138lbs,8.0,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dresses,"5' 8""",8,45.0

In [ ]:
# one_hot_df = pd.get_dummies(df)
# one_hot_df.head()

# Build a rec engine lab code

In [6]:
# import pyspark
from pyspark.sql import SparkSession
# instantiate SparkSession object
## spark = SparkSession.builder.master('local').getOrCreate()
# spark = SparkSession\
#         .builder\
#         .appName('ALSExample').config('spark.driver.host', 'localhost')\
#         .getOrCreate()

In [7]:
#read in dataset into PySpark DataFrame
#movie_ratings = spark.read.csv('./data/ratings.csv', header='true', inferSchema='true')

In [ ]:
#check datatypes
#movie_ratings.dtypes

In [ ]:
# #fit the Alternating Least Squares model
# from pyspark.ml.evaluation import RegressionEvaluator

# from pyspark.ml.recommendation import ALS

# #separate into training/test data
# (training, test) = movie_ratings.randomSplit([0.8, 0.2])

#fit ALS to training, assign it to a variable model
# Build the recommendation model using ALS on the training data
# # Note we set cold start strategy to 'drop' to ensure we don't get NaN evaluation metrics
# als = ALS(maxIter=5,rank=4, regParam=0.01, userCol='userId', itemCol='movieId', ratingCol='rating',
#           coldStartStrategy='drop')

# # fit the ALS model to the training set
# model = als.fit(training)

In [ ]:
#Evaluate model performance
# importing appropriate library
from pyspark.ml.evaluation import RegressionEvaluator

# Evaluate the model by computing the RMSE on the test data
predictions = model.transform(test)
evaluator = RegressionEvaluator(metricName='rmse', labelCol='rating',
                                predictionCol='prediction')
rmse = evaluator.evaluate(predictions)
print('Root-mean-square error = ' + str(rmse))

In [ ]:
# #use cross-validation to find optimal model
# from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

# # initialize the ALS model
# als_model = ALS(userCol='userId', itemCol='movieId', 
#                 ratingCol='rating', coldStartStrategy='drop')

# # create the parameter grid                 
# params = ParamGridBuilder()\
#           .addGrid(als_model.regParam, [0.01, 0.001, 0.1])\
#           .addGrid(als_model.rank, [4, 10, 50]).build()


# # instantiating crossvalidator estimator
# cv = CrossValidator(estimator=als_model, estimatorParamMaps=params,evaluator=evaluator,parallelism=4)
# best_model = cv.fit(movie_ratings)    

# # We see the best model has a rank of 50, so we will use that in our future models with this dataset
# best_model.bestModel.rank

In [ ]:
# #to match with another dataset:
# def name_retriever(movie_id, movie_title_df):
#     return movie_title_df.where(movie_title_df.movieId == movie_id).take(1)[0]['title']

In [ ]:
# #get recs on subset of users: use ALS built-in methods
# users = movie_ratings.select(als.getUserCol()).distinct().limit(1)
# userSubsetRecs = model.recommendForUserSubset(users, 10)
# recs = userSubsetRecs.take(1)

In [ ]:
# get the name of the top rec using the number one item for this userb
# # use indexing to obtain the movie id of top predicted rated item
# first_recommendation = recs[0]['recommendations'][0][0]

# # use the name retriever function to get the values
# name_retriever(first_recommendation,movie_titles)

In [ ]:
# #create RDD(resilient distributed dataset-- essentially a df) with top 5 recs for every user. then select one to find predictions
# #recommendations = model.recommendForAllUsers(5)
# recommendations.where(recommendations.userId == 3).collect()

In [ ]:
#get predictions for a new user
##create a function that will take in some input data and return highest recs
# steps: 1) add new data to df using .union() 2) fit the als model 3)make recs for the user 4)print names of top recs

In [ ]:
#add new data 

# [Row(movieId=3253, title='Wayne's World (1992)', genres='Comedy'),
#  Row(movieId=2459, title='Texas Chainsaw Massacre, The (1974)', genres='Horror'),
#  Row(movieId=2513, title='Pet Sematary (1989)', genres='Horror'),
#  Row(movieId=6502, title='28 Days Later (2002)', genres='Action|Horror|Sci-Fi'),
#  Row(movieId=1091, title='Weekend at Bernie's (1989)', genres='Comedy'),
# Row(movieId=441, title='Dazed and Confused (1993)', genres='Comedy'),
# Row(movieId=370, title='Naked Gun 33 1/3: The Final Insult (1994)', genres='Action|Comedy')]

In [ ]:
# def new_user_recs(user_id, new_ratings, rating_df, movie_title_df, num_recs):
#     # turn the new_recommendations list into a spark DataFrame
#     new_user_ratings = spark.createDataFrame(new_ratings,rating_df.columns)
    
#     # combine the new ratings df with the rating_df
#     movie_ratings_combined = rating_df.union(new_user_ratings)
    
#     # split the dataframe into a train and test set
# #     (training, test) = movie_ratings_combined.randomSplit([0.8, 0.2],seed=0)
    
#     # create an ALS model and fit it
#     als = ALS(maxIter=5,rank=50, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",
#           coldStartStrategy="drop")
#     model = als.fit(movie_ratings_combined)
    
#     # make recommendations for all users using the recommendForAllUsers method
#     recommendations = model.recommendForAllUsers(num_recs)
    
#     # get recommendations specifically for the new user that has been added to the DataFrame
#     recs_for_user = recommendations.where(recommendations.userId == user_id).take(1)
    
#     for ranking, (movie_id, rating) in enumerate(recs_for_user[0]['recommendations']):
#         movie_string = name_retriever(movie_id,movie_title_df)
#         print('Recommendation {}: {}  | predicted score :{}'.format(ranking+1,movie_string,rating))

In [ ]:
# test with new user

# user_id = 100000
# user_ratings_1 = [(user_id,3253,5),
#                   (user_id,2459,5),
#                   (user_id,2513,4),
#                   (user_id,6502,5),
#                   (user_id,1091,5),
#                   (user_id,441,4)]
# new_user_recs(user_id,
#              new_ratings=user_ratings_1,
#              rating_df=movie_ratings,
#              movie_title_df=movie_titles,
#              num_recs = 10)