In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('updated_df.csv')

In [3]:
df

,Unnamed: 0,fit,user_id,bust_size,item_id,weight,rating,rented_for,review_text,body_type,review_summary,category,height,size,age,cup_size
0,0,fit,420272,34,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68.0,14,28.0,d
1,1,fit,273551,34,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66.0,12,36.0,b
2,3,fit,909926,34,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65.0,8,34.0,c
3,4,fit,151944,34,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69.0,12,27.0,b
4,5,fit,734848,32,364092,138lbs,8.0,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,68.0,8,45.0,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146132,192539,fit,66386,34,2252812,140lbs,10.0,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,69.0,8,42.0,dd
146133,192540,fit,118398,32,682043,100lbs,10.0,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,61.0,4,29.0,c
146134,192541,fit,47002,36,683251,135lbs,6.0,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,68.0,8,31.0,a
146135,192542,fit,961120,36,126335,165lbs,10.0,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,66.0,16,31.0,c
146136,192543,fit,123612,36,127865,155lbs,10.0,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,66.0,16,30.0,b

In [5]:
df.drop(columns='Unnamed: 0', inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146137 entries, 0 to 146136
Data columns (total 15 columns):
fit               146137 non-null object
user_id           146137 non-null int64
bust_size         146137 non-null int64
item_id           146137 non-null int64
weight            146137 non-null object
rating            146137 non-null float64
rented_for        146137 non-null object
review_text       146137 non-null object
body_type         146137 non-null object
review_summary    146137 non-null object
category          146137 non-null object
height            146137 non-null float64
size              146137 non-null int64
age               146137 non-null float64
cup_size          146137 non-null object
dtypes: float64(3), int64(4), object(8)
memory usage: 16.7+ MB

In [8]:
df.isna().sum()

fit               0
user_id           0
bust_size         0
item_id           0
weight            0
rating            0
rented_for        0
review_text       0
body_type         0
review_summary    0
category          0
height            0
size              0
age               0
cup_size          0
dtype: int64

In [12]:
df

,fit,user_id,bust_size,item_id,weight,rating,rented_for,review_text,body_type,review_summary,category,height,size,age,cup_size
0,fit,420272,34,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68.0,14,28.0,d
1,fit,273551,34,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66.0,12,36.0,b
2,fit,909926,34,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65.0,8,34.0,c
3,fit,151944,34,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69.0,12,27.0,b
4,fit,734848,32,364092,138lbs,8.0,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,68.0,8,45.0,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146132,fit,66386,34,2252812,140lbs,10.0,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,69.0,8,42.0,dd
146133,fit,118398,32,682043,100lbs,10.0,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,61.0,4,29.0,c
146134,fit,47002,36,683251,135lbs,6.0,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,68.0,8,31.0,a
146135,fit,961120,36,126335,165lbs,10.0,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,66.0,16,31.0,c
146136,fit,123612,36,127865,155lbs,10.0,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,66.0,16,30.0,b

In [13]:
for col in df:
    print(len(df[col].unique()))

3
77237
11
5734
186
5
9
145215
7
119675
68
24
56
83
13

In [15]:
df.isnull().sum()

fit               0
user_id           0
bust_size         0
item_id           0
weight            0
rating            0
rented_for        0
review_text       0
body_type         0
review_summary    0
category          0
height            0
size              0
age               0
cup_size          0
dtype: int64

In [16]:
df = df.dropna()

In [17]:
df

,fit,user_id,bust_size,item_id,weight,rating,rented_for,review_text,body_type,review_summary,category,height,size,age,cup_size
0,fit,420272,34,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68.0,14,28.0,d
1,fit,273551,34,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66.0,12,36.0,b
2,fit,909926,34,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65.0,8,34.0,c
3,fit,151944,34,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69.0,12,27.0,b
4,fit,734848,32,364092,138lbs,8.0,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,68.0,8,45.0,b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146132,fit,66386,34,2252812,140lbs,10.0,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,69.0,8,42.0,dd
146133,fit,118398,32,682043,100lbs,10.0,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,61.0,4,29.0,c
146134,fit,47002,36,683251,135lbs,6.0,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,68.0,8,31.0,a
146135,fit,961120,36,126335,165lbs,10.0,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,66.0,16,31.0,c
146136,fit,123612,36,127865,155lbs,10.0,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,66.0,16,30.0,b

In [18]:
df = df.where(df.age > 17)
df = df.where(df.age < 66)

In [27]:
df.head()

,fit,user_id,bust_size,item_id,weight,rating,rented_for,review_text,body_type,review_summary,category,height,size,age,cup_size
0,fit,420272.0,34.0,2260466.0,137,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68.0,14.0,28.0,d
1,fit,273551.0,34.0,153475.0,132,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66.0,12.0,36.0,b
2,fit,909926.0,34.0,126335.0,135,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65.0,8.0,34.0,c
3,fit,151944.0,34.0,616682.0,145,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69.0,12.0,27.0,b
4,fit,734848.0,32.0,364092.0,138,8.0,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,68.0,8.0,45.0,b

In [20]:
df = df.dropna()

In [22]:
df.isna().sum()

fit               0
user_id           0
bust_size         0
item_id           0
weight            0
rating            0
rented_for        0
review_text       0
body_type         0
review_summary    0
category          0
height            0
size              0
age               0
cup_size          0
dtype: int64

In [24]:
df['weight'] = df['weight'].str.replace('lbs', '').astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
df.head()

,fit,user_id,bust_size,item_id,weight,rating,rented_for,review_text,body_type,review_summary,category,height,size,age,cup_size
0,fit,420272.0,34.0,2260466.0,137,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68.0,14.0,28.0,d
1,fit,273551.0,34.0,153475.0,132,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66.0,12.0,36.0,b
2,fit,909926.0,34.0,126335.0,135,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65.0,8.0,34.0,c
3,fit,151944.0,34.0,616682.0,145,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69.0,12.0,27.0,b
4,fit,734848.0,32.0,364092.0,138,8.0,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,68.0,8.0,45.0,b

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145555 entries, 0 to 146136
Data columns (total 15 columns):
fit               145555 non-null object
user_id           145555 non-null float64
bust_size         145555 non-null float64
item_id           145555 non-null float64
weight            145555 non-null int64
rating            145555 non-null float64
rented_for        145555 non-null object
review_text       145555 non-null object
body_type         145555 non-null object
review_summary    145555 non-null object
category          145555 non-null object
height            145555 non-null float64
size              145555 non-null float64
age               145555 non-null float64
cup_size          145555 non-null object
dtypes: float64(7), int64(1), object(7)
memory usage: 17.8+ MB

In [32]:
## take spaces out of column names
# df = df.rename(columns={'bust size': 'bust_size', 'rented for': 'rented_for', 'body type': 'body_type'})

## split up numbers and letters in bust_size
# df['bust_size'] = df['bust_size'].str.split('(\D+)')
# df['cup_size'] = df.bust_size.str[1]
# df['bust_size'] = df.bust_size.str[0]

##regroup categories (reduce from 68 to 7)
recat1 = df.replace(['dress', 'sheath', 'shirtdress', 'shift', 'ballgown', 'frock', 'kaftan', 'caftan', 'gown', 'print'], 'dresses')
recat2 = recat1.replace(['romper', 'jumpsuit', 'overalls', 'combo', 'suit'], 'jumpsuits')
recat3 = recat2.replace(['jogger', 'trousers', 'tight', 'jeans', 'sweatpants', 'leggings', 'pants', 'culottes', 'legging', 'pant', 'culotte', 'trouser'], 'pants')
recat4 = recat3.replace(['sweater', 'duster', 'cardigan', 'sweatshirt', 'pullover', 'turtleneck', 'hoodie', 'sweatershirt'], 'sweaters')
recat5 = recat4.replace(['jacket', 'coat', 'trench', 'cape', 'bomber', 'blazer', 'vest', 'poncho', 'down', 'parka', 'peacoat', 'overcoat'], 'outerwear')
recat6 = recat5.replace(['top,', 'shirt', 'blouse', 'tank', 'tunic', 'knit', 'tee', 'henley', 'blouson', 't-shirt', 'kimono', 'cami', 'crewneck', 'buttondown', 'for'], 'tops')
recat7 = recat6.replace(['mini', 'skirt', 'maxi','midi', 'skirts', 'skort'], 'skirts')
recat8 = recat7.replace(['top'], 'tops')

##rename recategorized df variable
df = recat8

In [35]:
df.category.unique()

array(['jumpsuits', 'dresses', 'pants', 'sweaters', 'outerwear', 'tops',
       'skirts'], dtype=object)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145555 entries, 0 to 146136
Data columns (total 15 columns):
fit               145555 non-null object
user_id           145555 non-null float64
bust_size         145555 non-null float64
item_id           145555 non-null float64
weight            145555 non-null int64
rating            145555 non-null float64
rented_for        145555 non-null object
review_text       145555 non-null object
body_type         145555 non-null object
review_summary    145555 non-null object
category          145555 non-null object
height            145555 non-null float64
size              145555 non-null float64
age               145555 non-null float64
cup_size          145555 non-null object
dtypes: float64(7), int64(1), object(7)
memory usage: 17.8+ MB